@{
    ViewBag.Title = "Home Page";
}

<img id="logo" src="~/Images/Logo.jpg" alt="WebFarma Software Administrador" width="1150" height="500" />
<div id="intro">
    <p>
        <strong>El Software Administrador de farmacia (WEBFARMA)</strong> esta diseñado para administrar cualquier tipo de farmacia.

    </p>
    <p>
        WEBFARMA permite facilmente administrar los productos, clientes, proveedores incluyendo la venta y gestión de los pedidos a los proveedores
        permitiendo llevar un mejor control y administración de la farmacia.
    </p>
    <p>
        WEBFARMA tambien incluye una aplicación móvil desde la cual los clientes pueden consultar los precios y las ofertas de los medicamentos.
    </p>

    <p class="text text-info">Por favor escoge una opción del menú.</p>
</div>

